<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="董书华" />
    <title>学生管理系统 - 添加班级</title>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
    <script src="/libs/jquery.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/libs/layer/layer.js"></script>
</head>

<body>
    
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">学生管理系统 - 添加班级</a>
            </div>

            <div class="collapse navbar-collapse" id="collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="/index.html">
                            首页
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            用户管理
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user/add">添加用户</a></li>
                            <li class="divider"></li>
                            <li><a href="/user/list.html">用户列表</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            班级管理
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/class/add">添加班级</a></li>
                            <li class="divider"></li>
                            <li><a href="/class/list.html">班级列表</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            学生管理
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/student/add">添加学生</a></li>
                            <li class="divider"></li>
                            <li><a href="/student/list.html">学生列表</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="/api/logout">
                            退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        
        <form role="form">
            <legend>添加班级</legend>
        
            <div class="form-group">
                <label for="name">名称：</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="请输入班级名称">
            </div>

            <div class="form-group">
                <label for="description">班级描述：</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="请输入描述">
            </div>
        
            <button type="submit" id="btnAddClass" class="btn btn-primary">保存</button>
        </form>
        
    </div>
    
    <script src="/scripts/classadd.js"></script>
</body>

</html>